<!DOCTYPE html>
<html>
<head>
    <title>评论页</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<form action="/comment/addComment" method="get">
    <lable>评论:<input type="text" placeholder="输入留言" name="content"></lable>
    <input type="submit" value="发表">
</form>
</body>
</html>
