<!DOCTYPE html>
<html>
<head>
    <title>注册页面</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<form action="<%= link %>" method="post">
    <lable>用户名:<input type="text" name="username"></lable>
    <br>
    <br>
    <lable>密&nbsp;&nbsp;&nbsp;码:<input type="password" name="password"></lable>
    <br>
    <br>
    <input type="submit" value="提交">
</form>
</body>
</html>
